/* Reset CSS pour un style propre de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 20px;
}

section {
    max-width: 800px;
    margin: 0 auto;
}

.item {
    border: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.item p {
    margin: 10px 0;
}

.details {
    display: none; /* Cacher les détails par défaut */
    background-color: #f9f9f9;
    padding: 10px;
    border-top: 1px solid #ddd;
}

button.toggle-details {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
}

button.toggle-details:hover {
    background-color: #0056b3;
}
